.register {
  min-height: 90vh;
}
.register h2 {
  color: coral;
  font-weight: 700;
  font-family: sans-serif;
}
.register input {
  display: block;
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  padding-left: 10px;
  margin: 5px auto;
  border: 2px solid coral;
}
#btn {
  color: rgb(255, 68, 0);
  background-color: antiquewhite;
}
#btn:hover {
  cursor: pointer;
  background-color: rgb(255, 127, 80);
  color: black;
}
@media only screen and (max-width: 900px) {
  .register input {
    display: block;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    padding-left: 10px;
    margin: 5px auto;
    border: 2px solid coral;
  }
}
